extends ../layout 
 
block content 
  h2.mb-3 Nuevo envio 
  form(method="post", action="/shipments", class="needs-validation") 
    .mb-3
      label.form-label Cliente: 
      input.form-control(type="text", name="client", required) 
    .mb-3
      label.form-label Origen: 
      input.form-control(type="text", name="origin", required) 
    .mb-3
      label.form-label Destino: 
      input.form-control(type="text", name="destination", required) 
    .mb-3
      label.form-label Estado: 
      select.form-select(name="status") 
        option(value="pendiente") Pendiente 
        option(value="en tránsito") En tránsito 
        option(value="entregado") Entregado 
    button.btn.btn-success.mt-2(type="submit") Guardar
    a.btn.btn-secondary.mt-2.ms-2(href="/") Cancelar
