extends ../layout

block content
  h2 Nuevo Producto
  form(method="post", action="/products")
    .mb-3
      label.form-label Nombre
      input.form-control(type="text", name="name", required)
    .mb-3
      label.form-label Descripción
      textarea.form-control(name="description")
    .mb-3
      label.form-label Stock
      input.form-control(type="number", name="stock", min="0", required)
    .mb-3
      label.form-label Precio
      input.form-control(type="number", name="price", step="0.01", min="0", required)
    button.btn.btn-success(type="submit") Guardar
    a.btn.btn-secondary.ms-2(href="/products") Cancelar
