extends ../layout

block content
  h2 Editar Cliente
  form(method="post", action=`/clients/${client.id}`)
    label Nombre:
    input(type="text", name="name", value=client.name, required)
    label Email:
    input(type="email", name="email", value=client.email, required)
    label Teléfono:
    input(type="text", name="phone", value=client.phone)
    button.btn.btn-add(type="submit") Actualizar
